h1 {    
    margin-bottom: 1em;
    margin-left:2.5em;
    font-size: 28px;
    color:lightcoral;
    font-family: arial;}

p{font-family: arial}


    .split-para { 
        display:block;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left:5em;}

    .split-para span { 
        display:block;
        float:right;
        width: 78%;
        margin-top:0em;
        margin-bottom:0em;
        margin-right:0em;}

    #wrapper {
        margin-left:auto;
        margin-right:auto;
        width:960px;}